	<head>
		<title>Group</title>
		<link rel="stylesheet" href = "stylesheets/main.css">
	</head>
	<body>
		<nav>
			<ul class="navbar">
				<li><a href="/home">Homepage</a></li>
				<li><a href="/orginization">Organization</a></li>
				<li><a href="/documents">Document</a></li>
				<li><a href="/grouping">Grouping</a></li>
			</ul>
		</nav>
		<h1>This is the groups page</h1>
	</body>
