<head>
	<title>Wavesurge Homepage</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
	<nav>
		<ul class="navbar">
			<li><a href="/home">Homepage</a></li>
			<li><a href="/orginization">Organization</a></li>
			<li><a href="/documents">Document</a></li>
			<li><a href="/grouping">Grouping</a></li>
		</ul>
	</nav>

	<h2 class="Title">
		Welcome to Wavesurge
	</h2>

	<p id="homepageParagraph">
	This website allows you to organize your organization, through document 
	submissions, group organizations. To use the features of this webpage,
	you need to sign into an organization.   
	</p>
	
	<form action="/orginization" method="post"> 
	<button id = "button1" type="submit" >Create Organization</button>
	</form>
	
	<form action="/orginization" method="post"> 
	<button id = "button3" type="submit" > Personal Profile</button>
	</form>
	

	<script src = "home.js">
	</script>
</body>
</html>