
	<head>
		<title> WaveSurge </title>	 	
		<link rel="stylesheet" href="/stylesheets/logIn.css">
	</head>

	<body>
	
		<form action="/login/log" method="post">
			<div class="input">				
				<label for="Username">Username*:</label>
				<input type="text" id="username" name="username"><br><br>
			</div>
			<div class="input">
				<label for="Password">Password*:</label>
				<input type="text" id="password" name="password"><br><br>
			</div>
			<button type="submit">INSERT</button>
		</form>
		
	<div class = "normal">
	</div>
	</script>
	</body>
</html>