
	<head>
		<title>Group</title>
		<link rel="stylesheet" href = "stylesheets/main.css">
	</head>
	<body>
		<nav>
			<ul class="navbar">
				<li><a href="/home">Homepage</a></li>
				<li><a href="/orginization">Organization</a></li>
				<li><a href="/documents">Document</a></li>
				<li><a href="/grouping">Grouping</a></li>
			</ul>
		</nav>
		<h1>This is the Create New Organization page</h1>
		<h2>After entering a new organization, you will be directed to the login page</h2>
		<form action="neworginization/new" method="post">	
			<div class="input">
				<label for="Orginization Code">Orginization Code: (4 characters in length)</label>
				<input type="text" id="orginizationCode" name="orginizationCode"><br><br>
				<label for="Orginization Code">Name:</label>
				<input type="text" id="orginizationName" name="orginizationName"><br><br>
			</div>
			<button type="submit">INSERT</button>
		</form>
		<p><a href="neworginization/joining">Join new Orginization</a></li></p>
	</body>