	<head>
		<title>Log In</title>
		<link rel="stylesheet" href = "stylesheets/main.css">
	</head>
	<body>
		<h1>PICK A NEW USERNAME</h1>
		<form action="/retry" method="post">
			<button type="submit">RETRY</button>
		</form>
	</body>
