<head>
    <Title>Wavesurge Personal Profile</Title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    
    <body>
    
    <label id = "labelforBriefDescription" for="Brief Description">Brief Description:</label>
    <textarea id="briefDescription" rows="10" cols="50"> Juefei Lu &#13;&#10; Short Bio: Software Enginner &#13;&#10; Email: jlu7@ocdsb.ca &#13;&#10; Organization joined: ICS4U, EOM Lions Team 7476 </textarea>
    
    </body>
    
    <script src = "personalprofilescript.js">
    </script>
    
    </html>