/*Shared Usage*/
.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0 2%;
    background-color:dodgerblue;
    overflow:hidden;
}

nav ul {
    font-size: 0;
    margin: 10%;
    padding: 0%;
    text-align: justify;
    padding: 0 20%;
}

nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    font-size: 30px;
    color:black;
}

/*index.html */
.form
{   
    color:black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.link
{
    text-align: center;
}

/*Homepage.html*/
.Title
{
    position: absolute;
    font-size: x-large;
    left: 43%;
    right:40%;
    top:20%;
    bottom:80%    
}

#homepageParagraph
{
    text-align: center;
    position: absolute;
    font-size: large;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 70%;
}

#button1
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32p;
    display: inline-block;  
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 30%;
    top: 60%;
    bottom: 30%;
}

#button2
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32p;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    position: absolute;
    left: 48%;
    top: 60%;
    bottom: 30%;
}

#button3
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32p;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 60%;
    top: 60%;
    bottom: 30%;
}

/*personal profile section*/
#briefDescription
{
font-family: Arial, Helvetica, sans-serif;
border-radius: 5%;
border-color: black;
border: solid;
margin: 5%;
position: relative;
left: 30%;
right: 30%;
top: 0%;
bottom: 50%;
}

#labelforBriefDescription
{
    text-align: center;
    position: absolute;
    font-size: large;
    left:25%;
    top: 13%;
}


/*Document section*/
#documentSubmitButton
{
    background-color: #4CAF50;
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}